@font-face {
  font-family: "Circular";
  src: url(./fonts/CircularStd-Book.otf);
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Circular";
  src: url(./fonts/CircularStd-Medium.otf);
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Circular";
  src: url(./fonts/CircularStd-Bold.otf);
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Circular";
  src: url(./fonts/CircularStd-Black.otf);
  font-weight: 900;
  font-display: swap;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body,
button,
input,
textarea {
  font-family: "Circular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  font-weight: 500;
  font-display: fallback;
  font-size: 1em;
  position: relative;
  overflow-x: hidden;
  background: #fff;
}

li{
  list-style-type:none;
  text-decoration: none;
}

li:active{
  text-decoration: underline;
}

li:hover{
  text-decoration: underline;
}
* {
  box-sizing: border-box;
}

@media (max-width: 900px) {
  body {
    font-size: 90%;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

h1.grey-text {
        color: #ffff !important;
        margin: 0 0 0rem;
        font-size: 2.5rem;
        line-height: 2.875rem;
}

h2.white-text {
        color: white;
        margin: 0 0 0rem;
        font-size: 2.5rem;
        line-height: 2.875rem;
}

h3.white-text {
        color: white;
        margin: 0 0 0rem;
        font-size: 2.5rem;
        line-height: 2.875rem;
}

h2.white-center{
  color: white;
}

h2.white-center-margin{
  color: white;
  margin-bottom: 30px;
  margin-top: 30px;
}

h3.white-center{
  color: white;
}

.div1 {
font-size: 1.5em;
}

.div2{
margin: 0 0 1.75rem;
font-size: 1.125rem;
line-height: 1.75rem;
}

.Rectangle7.3{
position: absolute;
left: 5.8%;
right: 87.19%;
top: 27.99%;
bottom: 45.04%;

background: #7256CF;
mix-blend-mode: lighten;
border-radius: 9px;
transform: rotate(-20.84deg);
}

.coverimage{
/* Rectangle 7.3 */
position: absolute;
left: 11.25%;
right: 82.72%;
top: 39.46%;
bottom: 37.32%;

background: #6F5AB5;
mix-blend-mode: lighten;
border-radius: 9px;
transform: rotate(-20.85deg);

/* Rectangle 7.5 */
position: absolute;
left: 84.8%;
right: 8.19%;
top: 26.39%;
bottom: 46.64%;

background: #7256CF;
mix-blend-mode: lighten;
border-radius: 9px;
transform: rotate(71.5deg);

/* Rectangle 7.6 */
position: absolute;
left: 81.61%;
right: 12.37%;
top: 46.87%;
bottom: 29.91%;

background: #6F5AB5;
mix-blend-mode: lighten;
border-radius: 9px;
transform: rotate(71.5deg);
}

/*pricing table - Pricing Table CSS for Pricing Page JS*/

.wrapper {
  width: 95%;
  max-width: 1200px;
  margin: 30px auto;
}
.pricing-table h2 {
  font-size: 1.5em;
  padding: 35px 10px;
  margin: 0;
}
.description {
  margin-top: 20px;
  font-size: 0.85em;
  padding: 0 40px;
  font-style: italic;
}

.description {
  margin-top: 20px;
  font-size: 0.85em;
  padding: 0 40px;
  font-style: italic;
}
.price,
.pricing-box {
  -webkit-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;
}
.price {
  background: #E92178;
  color: #fff;
  font-size: 2em;
  font-weight: 600;
  position: relative;
  padding: 20px 10px;
  display: block;
}
.pricing-box:nth-child(2) .price {
  background: #E92178;
}
.pricing-box:nth-child(3) .price {
  background: #E92178;
}
.pricing-box:hover .price {
  background: #E92178;
  box-shadow: inset 0 0 100px 0 rgba(0, 0, 0, 0.3);
  color: #fff;
}
.btn {
  background: #00A698;
  border: 1px solid #00A698;
  color: #fff;
  -webkit-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;
  border-radius: 0.4em;
  padding: 0.6em 1em;
  font-size: 1.05em;
  display: inline-block;
  margin-top: 20px;
}
.btn:hover {
  background: #093e64;
  border: 1px solid #093e64;
  color: #fff !important;
}
.pricing-table-divider {
  display: block;
  height: 1px;
  background: rgba(0, 0, 0, 0.08);
  max-width: 80%;
  margin: 20px auto 0;
}
.pricing-table {
  border-radius: 3px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  text-align: center;
}

.pricing-box {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.13);
  border: 2px solid rgba(10, 123, 183, 0.14);
}
.pricing-box:hover {
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
}
.pricing-table ul li {
  padding: 3px 0;
  font-size: 0.95em;
}
.pricing-table ul {
  color: #000;
  padding: 15px 60px;
  text-align: left;
}
@media (max-width: 750px) {
  .pricing-table {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .pricing-table > div:nth-child(3) {
    -ms-grid-row: 1;
    grid-row-start: 1;
  }
  .pricing-table > div:nth-child(2) {
    -ms-grid-row: 2;
    grid-row-start: 2;
  }
  .pricing-table > div {
    -ms-flex-item-align: top;
    -ms-grid-row-align: top;
    align-self: top;
  }
}
